@{
    ViewData["Title"] = "Delete";
}
<br />
<br />
<br />
<div class="col-12 d-flex justify-content-center align-items-center">
    <header>
        <h2 class="display-6">Are you sure you want to delete your account ?</h2>
    </header>
</div>
<br />
<br/>

<div class="column d-flex justify-content-center align-items-center">
    <form asp-action="Delete" method="post">
        <button class="btn btn-secondary" style="width:75px" type="submit">Yes</button>
        <a class="btn btn-secondary" style="width:75px;margin-left:20px" asp-action="Profile">No</a>
    </form>      
</div>

