@model ProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<br/>
<div class="col-12 d-flex">
    <header>
        <h2 class="display-6" style="font-size:30px;font-weight:300">Add relevant details</h2>
    </header>
</div>
<hr />

<form asp-action="Summary" method="post">
    <div class="container mt-5">
        <div class="row mb-2">
            <label for="Summary" class="col-sm-2 col-form-label">Summary  :</label>
            <div class="col-sm-8">
                <div style="position: relative;">
                    <textarea style="height:185px;resize:none;color:grey" class="form-control" id="Summary" 
                               maxlength="750" asp-for="Summary" disabled>@Model.Summary
                    </textarea>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-4 offset-sm-2">
                <button type="button" class="btn btn-link" style="text-decoration:none;margin-left:-12px" id="editButton" >Edit</button>
                <button type="submit" class="btn btn-link" style="text-decoration:none;display:none" id="updateButton">Update</button>
            </div>
        </div>
    </div>
</form>
<hr/>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#editButton').click(function () {
                var isEdit = $(this).text() === 'Edit';

                // Toggle the textarea's disabled attribute
                $('#Summary').prop('disabled', !isEdit);

                // Toggle the visibility of the update button
                $('#updateButton').toggle(isEdit);

                // Change button text to Cancel if currently Edit, otherwise change it to Edit
                $(this).text(isEdit ? 'Cancel' : 'Edit');

                // If changing to Edit (Cancel was clicked), reload the page to reset the form
                if (!isEdit) {
                    location.reload();
                }
            });
        });
    </script>
}
