@model ProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<br/>
<div class="col-12 d-flex">
    <header>
        <h2 class="display-6" style="font-size:30px;font-weight:300">Add relevant details</h2>
    </header>
</div>
<hr />
<br />
