@model Employee

@{
    ViewData["Title"] = "Home";
}

<br/>
<div class="col-12 d-flex justify-content-center align-items-center">
    <header>
        <h1 class="display-4">Welcome @Model.FirstName</h1>
    </header>
</div>
<br />
<div class="col-12 d-flex justify-content-center align-items-center">   
    <p>
        Nunc vestibulum sodales leo quis molestie. Proin at velit facilisis sem tristique vehicula. Quisque consequat
        ultrices luctus. Sed auctor orci id dolor gravida sagittis. Proin ut nulla nec sapien cursus faucibus pharetra
        non nibh. Nulla pulvinar felis in magna malesuada dapibus. Quisque feugiat quis nunc sit amet ornare.
        Nulla et finibus orci, ut luctus turpis. Nullam sapien libero, laoreet non nisl a, rutrum molestie erat.
        Nam ornare a purus non congue. Praesent at tempus lacus. Nam convallis ex rhoncus ullamcorper egestas.
        Phasellus odio velit, posuere hendrerit mollis quis, mollis sed metus. Suspendisse ut auctor nisi.
        Etiam lacinia lacus et tellus rhoncus tempor. Aliquam ut porta lorem, vitae aliquam ex. Aenean dolor diam, congue et ullamcorper eget, suscipit egestas nunc.
        Sed ullamcorper, dolor id pharetra eleifend, sem leo consectetur felis, a sagittis lectus nisi id magna.
        Pellentesque consectetur, massa ut condimentum molestie, urna elit hendrerit lacus, eget commodo libero est sit
        amet est. Nulla facilisi. Ut vestibulum ipsum ullamcorper velit lacinia varius. Nullam faucibus ex et libero bibendum,
        ut finibus mauris sagittis. In vulputate nec tellus et egestas. Vivamus ultrices volutpat massa sed finibus.
        Aliquam aliquet tincidunt ultricies.
    </p>
</div>
<br />
<br />
