@model ProfileViewModel

@{
    ViewData["Title"] = "Deleted";
}

@* Account header *@
<br/><br /><br /><br /><br/><br/>
<div class="col-12 d-flex justify-content-center">
    <header>
        <h2 class="display-5">Your account has been deleted successfully</h2>
    </header>
</div>