@{
    ViewData["Title"] = "Forgot Password";
}

<br/><br/>

<div class="d-flex justify-content-start mb-4">
    <h1 style="font-weight:600">Password reset email sent</h1>
</div>

<p style="font-size:18px;color:dimgray" >
    If the email provided exists in our database you will receive an email to reset the password.
    Kindly click on the link provided in the email to reset your password.
</p>

 
<a class="link-offset-2 link-underline link-underline-opacity-0" asp-controller="Home" asp-action="Signin">
    <i class="fi fi-sr-arrow-left" style="vertical-align:middle;margin-right:3px"></i> Back to Signin
</a>