@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .image {
        width: 200px;
        height: 200px;
    }

    .paragraph {
        display: flex;
        color: dimgrey;
        font-size: 46px;
        font-weight: 200
    }
</style>

<div class="d-flex justify-content-center" style="margin-top:7%">
     <img src="~/images/EmployeeInCoat.png" class="image">
</div>
<br /><br />

<div class="d-flex justify-content-center">
    <p class="paragraph">Human Resource Management System</p>
</div><br/><br/>

<div class="row d-flex justify-content-center mb-4">
    <a asp-action="Signup" style="height:40px;" 
        class="row btn btn-dark rounded-pill w-25">
        Create account
    </a>
</div>

<div class="row d-flex justify-content-center">
    <a asp-action="Signin" style="height:40px;" 
        class="row btn btn-dark rounded-pill w-25">
        Signin
    </a>
</div>    


