@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<br />
<div class="col-12 d-flex">
    <header>
        <h2 class="display-6">Reset Password</h2>
    </header>
</div>

<hr />
<br />

<form method="post" asp-action="ResetPassword">
    <div class="row" style="margin-bottom:25px">
        <label for="NewPassword" class="col-sm-2 col-form-label">New Password :</label>
        <div class="col-sm-6">
            <input type="password" placeholder="Enter your new password" asp-for=Password
                   style="border-color:darkgray" class="form-control" id="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row" style="margin-bottom:25px">
        <label for="ConfirmPassword" class="col-sm-2 col-form-label">Confirm Password :</label>
        <div class="col-sm-6">
            <input type="password" placeholder="Confirm your new password"
                   asp-for="ConfirmPassword" style="border-color:darkgray" class="form-control"
                   id="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />
    <div style="margin-top:50px">
        <button type="submit" style="width:100px" class="btn btn-outline-secondary">Reset</button>
        <a style="margin-left:10px;width:100px" class="btn btn-dark" asp-action="Signin">
            Cancel
        </a>
    </div>
    <br /><br />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
