@{
    ViewData["Title"] = "Profile";
}

<div class="col-12 d-flex">
    <header>
        <h2 class="display-5">Terms and Conditions</h2>
    </header>
</div>
<hr /><br />

<p>Put your terms and conditions here</p>
