html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.LinkContainer {
    text-align: center;
}

.table {
    overflow-x: auto;
}


a#MyDropdown{
    color: lightgray
}

a#MyDropdown:hover {
    color: white
}

/*.navbar-dark .navbar-nav .nav-link:hover{
    color: white
}*/

/*.navbar-dark .navbar-nav .nav-link:visited {
    color: lightgray
}*/

.btn-custom {
    background-color: #12b2ad; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
}

.btn-custom:hover {
    background-color: #17bab5; /* Darker green on hover */
    color: white;
}









